{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div class="mt-2">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-6">
                <img src="{% static 'images/img1.jpg' %}" width="100" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Vikas</h5>
                  <p class="card-text">As a Python developer who is familiar with all the popular frameworks, you likely have a good understanding of the most widely-used tools and libraries in the Python ecosystem. You're probably familiar with popular web frameworks such as Django and Flask, as well as data analysis and scientific computing tools like NumPy, Pandas, and SciPy. You may also be familiar with machine learning frameworks like TensorFlow, Keras, and PyTorch.</p>

                    <p>As you continue to work with Python, it's important to stay up-to-date with the latest developments and trends in the community. This could involve learning about newer frameworks like FastAPI or exploring emerging fields like data science ethics and responsible AI. In addition, it can be helpful to continuously refine your coding skills and best practices, such as writing clean and maintainable code, using version control systems, and collaborating effectively with others.</p>
                    
                    <p>Overall, as a Python developer who is familiar with all the popular frameworks, you have a solid foundation for building a wide range of applications and tools. By staying engaged with the community and continuing to learn and grow your skills, you can continue to create high-quality, impactful projects using Python.</p>
                  <p class="card-text">Follow me on : <a href="https://facebook.com">Facebook</a></p>
                </div>
              </div>
            </div>
          </div>
    </div> 
{% endblock %}