{% extends 'app/base.html' %}

{% block content %}
    <h1 class="text-center">Edit Profile</h1>
    <hr>
{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
        <div class="form-group">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-secondary" value="Update Profile">
            </form>
        </div>
    {% else %}
        <h3>Invalid Credentials</h3>
    {% endif %}
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Create an account?</a>
{% endif %}

{% endblock %}