{% extends 'app/base.html' %} 
{% load static %}

{% block title %} Detail Page {% endblock %}

{% block content %}
<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <h1 class="card-title">{{ post.title }}</h1>
      <p class="card-text">
        <b>By: {{ post.author.username }} {{ post.author.last_name }}</b><br />
        Category: {{ post.category }}<br />
        Posted on: {{ post.created_on }}
        {% if user.is_authenticated %} 
          {% if user.id == post.author.id %} -
            <a href="{% url 'update_post' post.pk %}">Edit</a> -
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
          {% endif %} 
        {% endif %}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card mb-3">
        <div class="card-body text-center">
          {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-circle" width="150" height="150" alt="Profile Picture">
          {% else %}
            <img src="{% static 'images/user1.png' %}" class="img-fluid rounded-circle" width="150" height="150" alt="Default Profile Picture">
          {% endif %}
          <h5 class="card-title mt-3">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
          <p class="card-text">{{ post.author.profile.bio }}</p>
          <div class="social-links">
            {% if post.author.profile.facebook_url %}
              <a href="{{ post.author.profile.facebook_url }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
            {% endif %}
            {% if post.author.profile.insta_url %}
              <a href="{{ post.author.profile.insta_url }}" target="_blank"><i class="fab fa-instagram"></i></a>
            {% endif %}
            {% if post.author.profile.linkedin_url %}
              <a href="{{ post.author.profile.linkedin_url }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            {% endif %}
            {% if post.author.profile.github_url %}
              <a href="{{ post.author.profile.github_url }}" target="_blank"><i class="fab fa-github"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      {% if post.image %}
        <img src="{{ post.image.url }}" class="img-fluid mb-4" alt="Post Image">
      {% endif %}
      <div class="post-body">
        {{ post.body|safe }}
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <h3 class="mb-4">Comments...</h3>
      {% if not post.comments.all %}
        <p>No comments yet!!</p>
        {% if user.is_authenticated %}
          <a href="{% url 'comment' post.pk %}" class="btn btn-primary btn-sm">Add Comment</a>
        {% endif %}
      {% else %}
        <a href="{% url 'comment' post.pk %}" class="btn btn-primary btn-sm">Add Comment</a>
        {% for comment in post.comments.all %}
          <div class="comment">
            <strong>{{ comment.user.username }} - {{ comment.created_on }}</strong>
            <p>{{ comment.body }}</p>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
