{% extends 'app/base.html' %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<h1 class="text-center">Update Post </h1>
<hr>
<div class="form-group">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.media}}
        {{ form.as_p }}
        <input type="submit" class="btn btn-secondary" value="Update">
    </form>
</div>
{% else %}
<h3>Not authorized to perform action</h3>
{% endif %}
{% else %}
<h3>Not authorized to perform action</h3>
{% endif %}

{% endblock %}